useDynLib(facets, .registration = TRUE)


importFrom("Rcpp","sourceCpp")
export("htslib_version")
export("run_snp_pileup")
export("run_snp_pileup_logic")
import(stats,graphics)


importFrom("utils", "read.csv")
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("pctGCdata", "getGCpct")
export("readSnpMatrix", "preProcSample", "procSample", "emcncf", "emcncf2", "plotSample","logRlogORspider","rePreProcSample")

